<div class="d-flex flex-row header justify-content-center">
  <ul class="header-ul">
    <li class="button button-large button-text" routerLink="/cheatsheet">
      {{ "HEADER.CHEATSHEET" | translate }}
    </li>
    <li class="button button-large button-text" routerLink="/ghosts">
      {{ "HEADER.GHOST" | translate }}
    </li>
    <li class="button button-large button-text" routerLink="/cursed">
      {{ "HEADER.CURSED" | translate }}
    </li>
    <li class="button button-large button-text" routerLink="/about">
      {{ "HEADER.ABOUT" | translate }}
    </li>
  </ul>
  <div class="header-block d-flex align-items-center">
    <button class="button button-round" (click)="openLanguageModal()">
      {{ language }}
    </button>
  </div>
  <div class="header-block d-flex align-items-center">
    <button class="button button-large button-text" (click)="swapTheme()">
      {{ theme === "light-theme" ? "Light" : "Dark" }}
    </button>
  </div>
</div>

<div class="lang-modal card" *ngIf="showLangModal">
  <div (click)="openLanguageModal()" class="lang-modal__close">x</div>
  <button
    (click)="changeLanguage('en')"
    class="button button-small button-secondary"
  >
    EN
  </button>
  <button
    (click)="changeLanguage('ru')"
    class="button button-small button-secondary"
  >
    RU
  </button>
</div>
