
<div class="card about">
  <div class="about-item">
    <h3>{{ "ABOUT.UI.PROJECT" | translate }}</h3>
    <p>
      {{ "ABOUT.UI.PROJECT_DESCR" | translate }}
    </p>
    <a
      href="https://github.com/rich11berr/phasma-cheat-sheet"
      target="_blank"
      class="button button-small button-primary"
      >guthub</a
    >
  </div>

  <div class="about-item">
    <h3>{{ "ABOUT.UI.AUTHOR" | translate }}</h3>
    <p>
      {{ "ABOUT.UI.AUTHOR_DESCR" | translate }}
    </p>
    <div class="d-flex flex-row gap-3">
      <a
        href="https://github.com/rich11berr"
        target="_blank"
        class="button button-small button-primary"
        >github</a
      >
      <a
        href="https://steamcommunity.com/profiles/76561198074429371/"
        target="_blank"
        class="button button-small button-primary"
        >steam</a
      >
      <a
        href="https://rich11berr.github.io/portfolio/#home"
        target="_blank"
        class="button button-small button-primary"
        >portfolio</a
      >
    </div>
  </div>
  <div class="about-item">
    <h3>{{ "ABOUT.UI.MONEY" | translate }}</h3>
    <p>
      {{ "ABOUT.UI.MONEY_DESCR" | translate }}
    </p>
    <div class="d-flex flex-row gap-3">
      <a
        href="https://www.donationalerts.com/r/richard_berry"
        target="_blank"
        class="button button-small button-primary"
        >donate</a
      >
    </div>
  </div>
</div>

