<div class="card cheat">
  <div class="d-flex flex-row gap-3 align-items-center">
    <p class="cheat-label">{{ "CHEATSHEET.UI.EVIDENCE" | translate }}:</p>
    <p>{{ "CHEATSHEET.UI.EV_INSTR" | translate }}</p>
  </div>

  <div class="cheat-evid">
    <button
      [ngClass]="getEvidStatus(evidences.dots)"
      class="button button-large button-secondary"
      (click)="
        evidences.dots === undefined
          ? (evidences.dots = true)
          : (evidences.dots = undefined)
      "
      (contextmenu)="
        evidences.dots === undefined || true
          ? (evidences.dots = false)
          : (evidences.dots = undefined)
      "
      (click)="filterGhosts()"
      (contextmenu)="filterGhosts()"
    >
      {{ "CHEATSHEET.EVIDENCES.DOTS" | translate }}
    </button>
    <button
      [ngClass]="getEvidStatus(evidences.box)"
      class="button button-large button-secondary"
      (click)="
        evidences.box === undefined
          ? (evidences.box = true)
          : (evidences.box = undefined)
      "
      (contextmenu)="
        evidences.box === undefined || true
          ? (evidences.box = false)
          : (evidences.box = undefined)
      "
      (click)="filterGhosts()"
      (contextmenu)="filterGhosts()"
    >
      {{ "CHEATSHEET.EVIDENCES.BOX" | translate }}
    </button>
    <button
      [ngClass]="getEvidStatus(evidences.emf)"
      class="button button-large button-secondary"
      (click)="
        evidences.emf === undefined
          ? (evidences.emf = true)
          : (evidences.emf = undefined)
      "
      (contextmenu)="
        evidences.emf === undefined || true
          ? (evidences.emf = false)
          : (evidences.emf = undefined)
      "
      (click)="filterGhosts()"
      (contextmenu)="filterGhosts()"
    >
      {{ "CHEATSHEET.EVIDENCES.EMF" | translate }}
    </button>
    <button
      [ngClass]="getEvidStatus(evidences.prints)"
      class="button button-large button-secondary"
      (click)="
        evidences.prints === undefined
          ? (evidences.prints = true)
          : (evidences.prints = undefined)
      "
      (contextmenu)="
        evidences.prints === undefined || true
          ? (evidences.prints = false)
          : (evidences.prints = undefined)
      "
      (click)="filterGhosts()"
      (contextmenu)="filterGhosts()"
    >
      {{ "CHEATSHEET.EVIDENCES.PRINTS" | translate }}
    </button>
    <button
      [ngClass]="getEvidStatus(evidences.freez)"
      class="button button-large button-secondary"
      (click)="
        evidences.freez === undefined
          ? (evidences.freez = true)
          : (evidences.freez = undefined)
      "
      (contextmenu)="
        evidences.freez === undefined || true
          ? (evidences.freez = false)
          : (evidences.freez = undefined)
      "
      (click)="filterGhosts()"
      (contextmenu)="filterGhosts()"
    >
      {{ "CHEATSHEET.EVIDENCES.FREEZ" | translate }}
    </button>
    <button
      [ngClass]="getEvidStatus(evidences.orbs)"
      class="button button-large button-secondary"
      (click)="
        evidences.orbs === undefined
          ? (evidences.orbs = true)
          : (evidences.orbs = undefined)
      "
      (contextmenu)="
        evidences.orbs === undefined || true
          ? (evidences.orbs = false)
          : (evidences.orbs = undefined)
      "
      (click)="filterGhosts()"
      (contextmenu)="filterGhosts()"
    >
      {{ "CHEATSHEET.EVIDENCES.ORBS" | translate }}
    </button>
    <button
      [ngClass]="getEvidStatus(evidences.pen)"
      class="button button-large button-secondary"
      (click)="
        evidences.pen === undefined
          ? (evidences.pen = true)
          : (evidences.pen = undefined)
      "
      (contextmenu)="
        evidences.pen === undefined || true
          ? (evidences.pen = false)
          : (evidences.pen = undefined)
      "
      (click)="filterGhosts()"
      (contextmenu)="filterGhosts()"
    >
      {{ "CHEATSHEET.EVIDENCES.PEN" | translate }}
    </button>
  </div>

  <div class="d-flex flex-row gap-3 align-items-center mt-3">
    <p class="cheat-label">{{ "CHEATSHEET.UI.GHOSTS" | translate }}:</p>
    <p>{{ "CHEATSHEET.UI.GHOSTS_INSTR" | translate }}</p>
  </div>

  <div class="cheat-ghosts">
    <ng-container *ngFor="let ghost of ghostsCopy">
      <div class="cheat-ghost card d-flex flex-column gap-3">
        <p class="cheat-ghost__title">
          {{ "GHOSTS." + ghost.name + ".NAME" | uppercase | translate }}
        </p>
        <p class="cheat-ghost__subtitle">
          {{ "GHOSTS." + ghost.name + ".ABILITY" | uppercase | translate }}
        </p>
      </div>
    </ng-container>
  </div>
</div>
