.button {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;

  &:active {
    transform: scale(1.05);
  }

  &-large {
    height: 64px;
    width: 200px;
  }

  &-medium {
    width: 200px;
    height: 56px;
  }

  &-small {
    width: 120px;
    height: 40px;
  }

  &-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    &:hover {
      background-color: var(--primary-light);
      color: var(--secondary-light);
    }
  }

  &-secondary {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
  }

  &-text {
    border: none;
    background-color: transparent;
    color: var(--primary-color);
  }

  &-round {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 40px;
    width: 54px;
    height: 54px;
  }
}
