.button {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  transition: all ease 0.3s;

  cursor: pointer;

  &-large {
    height: 64px;
    width: 200px;
  }

  &-medium {
    width: 200px;
    height: 56px;
  }

  &-small {
    width: 120px;
    height: 40px;
  }

  &-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    &:hover {
      background-color: var(--primary-light);
      color: var(--secondary-light);
      transform: scale(1.05);
    }
  }

  &-secondary {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
  }

  &-text {
    border: none;
    background-color: transparent;
    color: var(--primary-color);
  }

  &-round {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 40px;
    width: 54px;
    height: 54px;
  }

  //hover effect
  &-text {
    background-image: linear-gradient(
      transparent calc(100% - 2px),
      var(--primary-color) 2px
    );
    background-repeat: no-repeat;
    background-size: 0% 85%;
    transition: background-size 0.3s ease;
    &:hover {
      background-size: 100% 85%;
    }
  }
  &-secondary {
    background-image: linear-gradient(
      transparent calc(100% - 2px),
      var(--primary-color) 2px
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease;
    &:hover {
      background-size: 100% 100%;
    }
  }
}
