@import "../../../assets/sass/core/variables.scss";

.ghosts {
  &-label {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &-info {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--primary-color);
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 1.5rem;
  }

  &-item {
    height: 120px;

    &__title {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 1100px) {
  .ghosts {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 810px) {
  .ghosts {
    &-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
